/* Styling the HTMl */

body {

    background-image: url(../img/19682.jpg);
    background-size: auto;
}

.jumbotron {
    background-color:  #3a3a3a;
    color: #ffffff;
    font-weight: 800!important;
}

.card {
    margin: 10px;
    background-color:  #3a3a3a;
}

.card-header {
    color: #ffffff;
}

.list-group-item {
    background-color: gray;
    color: #ffffff;
}

.list-group-item a {
    color: #ffffff;
}

.team-area {
    display: inline-block;
    flex-wrap: wrap;
}
#manager {
    margin-right: 75%;
    flex: content;
}